$background-primary: #ffffff;
$background-secondary: #f9f8f6;
$background-accent: #ff503e;
$primary-text-color: #707070;
$secondary-text-color: #ffffff;
$title-color: #3f3631;
$accent-color: #ff503e;
$socials-bg-primary: #ff6f5c;
$socials-bg-accent: #fb6b58;
$socials-icon-fill: #ffffff;
