<section class="about section" id="about">
  <div class="container">
    <div class="about__description">
      <p class="pretitle">
        The Best <span class="accent-text">Instagrammable</span> Places and
        Guided Tours.
      </p>
      <h2 class="title">- about us</h2>
      <div class="about__text">
        <p>
          There are thousands of stunning places in the world, and you can visit
          all of them! Many of them have already turned into real places of
          pilgrimage for fans of striking Instagram photos. Don't miss your
          chance to visit a cool place and have amazing photos on your
          Instagram!
        </p>
        <p>
          Our company offers tours to the most picturesque places on our planet.
          Visit the coolest countries, take hundreds or even thousands of photos
          for your Instagram! We will be happy to help you with this.
        </p>
      </div>
      <ul class="about__advantages">
        <li class="about__advantages-item">
          <div class="about__icon-container">
            <svg class="about__icon" width="40" height="40">
              <use href="./images/icons.svg#icon-sights"></use>
            </svg>
          </div>
          <div class="about__advantages-description">
            <p class="about__advantages-title">50+ tours</p>
            <p class="about__advantages-text">
              Our company regularly organizes tours. You can see landmarks all
              over the world. Just choose the countries you like the most.
            </p>
          </div>
        </li>
        <li class="about__advantages-item">
          <div class="about__icon-container">
            <svg class="about__icon" width="40" height="40">
              <use href="./images/icons.svg#icon-tourist"></use>
            </svg>
          </div>
          <div class="about__advantages-description">
            <p class="about__advantages-title">Experienced guides</p>
            <p class="about__advantages-text">
              The specialists of our company will organize an unforgettable trip
              and tell you a lot of interesting things!
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="about__img-container">
      <img
        src="./images/couple-desk.jpg"
        alt="A couple"
        width="535"
        height="637"
        class="about__img"
      />
    </div>
  </div>
</section>
