<section class="faq section">
  <div class="container">
    <div class="faq__description">
      <p class="pretitle">Everything You Wanted to Know About Our Tours</p>
      <h2 class="title">- FAQ</h2>
      <p class="faq__text">
        We are always ready to advise you and answer any question. Here are some
        answers to the most common questions. Find out everything that interests
        you right now or contact us in any convenient way!
      </p>
      <ul class="faq__accordion">
        <li class="faq__accordion-item">
          <div class="faq__accordion-question-container">
            <p class="faq__accordion-question">
              Can I pay extra for a luxury hotel?
            </p>
            <svg class="faq__accordion-icon" width="15" height="15">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <p class="faq__accordeon-answer is-hidden">
            Of course, we offer you several hotel options that you can choose
            from.
          </p>
        </li>
        <li class="faq__accordion-item">
          <div class="faq__accordion-question-container">
            <p class="faq__accordion-question">Can I get printed photos?</p>
            <svg class="faq__accordion-icon" width="15" height="15">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <p class="faq__accordeon-answer is-hidden">
            Yes. We can send you printed photos by mail.
          </p>
        </li>
        <li class="faq__accordion-item">
          <div class="faq__accordion-question-container">
            <p class="faq__accordion-question">
              What excursions are included in the tour?
            </p>
            <svg class="faq__accordion-icon" width="15" height="15">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <p class="faq__accordeon-answer is-hidden">
            It all depends on the tour you have chosen. As a rule, each tour
            includes a sightseeing tour of each city plus 2-3 excursions to
            choose from.
          </p>
        </li>
        <li class="faq__accordion-item">
          <div class="faq__accordion-question-container">
            <p class="faq__accordion-question">
              Can I continue the trip on my own after the tour ends?
            </p>
            <svg class="faq__accordion-icon" width="15" height="15">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <p class="faq__accordeon-answer is-hidden">
            It all depends on the country and visa requirements.
          </p>
        </li>
      </ul>
    </div>
    <div class="faq__img-container">
      <img
        src="./images/couple-3.jpg"
        alt="Couple"
        class="faq__img"
        width="545"
        height="587"
        class="faq__img"
      />
    </div>
  </div>
</section>
