<div class="modal__backdrop">
  <div class="modal__window">
    <button type="button" class="modal__close-btn">
      <svg width="30" height="30" class="modal-close-icon">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <p class="pretitle">Connect the Agency</p>
    <h2 class="title">- write us</h2>
    <form class="modal__form">
      <input
        type="text"
        name="name"
        class="modal__input"
        placeholder="Enter your full name*"
        required
      />
      <input
        type="tel"
        name="tel"
        class="modal__input"
        placeholder="Enter your phone*"
        required
      />
      <input
        type="email"
        name="email"
        class="modal__input"
        placeholder="Enter your email*"
        required
      />
      <textarea
        name="comment"
        class="modal__textarea"
        placeholder="Type your message*"
      ></textarea>
      <button type="submit" class="modal__btn">Request a quote</button>
    </form>
  </div>
</div>
