<div class="header__contacts">
  <div class="container">
    <a class="header__tel" href="tel:+12345678900">+1 (234) 567 89 00</a>
    <ul class="socials">
      <li class="socials-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="socials-link"
        >
          <svg class="socials-icon facebook" width="7.8" height="15.6">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          class="socials-link"
        >
          <svg class="socials-icon instagram" width="15.6" height="15.6">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.youtube.com/" target="_blank" class="socials-link">
          <svg class="socials-icon youtube" width="15.6" height="11">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="header__main">
  <div class="container">
    <nav class="header__nav">
      <a class="logo" href="./index.html">
        <svg class="logo-icon" width="176" height="50">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#about">About us</a>
        </li>
        <li class="header__nav-item"><a href="#tours">Tours</a></li>
        <li class="header__nav-item">
          <a href="#testimonials">Testimonials</a>
        </li>
        <li class="header__nav-item"><a href="">Contacts</a></li>
      </ul>
      <svg width="40" height="40" class="header__menu-icon" data-menu-open>
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </nav>
  </div>
  <div class="menu is-hidden" data-menu>
    <div class="menu__container">
      <div class="menu__return">
        <a class="logo" href="./index.html">
          <svg class="logo-icon" width="176" height="50">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="menu__close-btn" data-menu-close>
          <svg width="30" height="30" class="menu-close-icon">
            <use href="./images/icons.svg#icon-close-btn"></use>
          </svg>
        </button>
      </div>
      <ul class="header__menu-list">
        <li class="header__menu-item">
          <a href="#about">About us</a>
        </li>
        <li class="header__menu-item"><a href="#tours">Tours</a></li>
        <li class="header__menu-item">
          <a href="#testimonials">Testimonials</a>
        </li>
        <li class="header__menu-item"><a href="">Contacts</a></li>
        <li>
          <a class="header__menu-tel" href="tel:+12345678900"
            >+1 (234) 567 89 00</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
