<div class="header__contacts">
  <a class="header__tel" href="tel:+12345678900">+1 (234) 567 89 00</a>
  <ul class="socials" aria-label="Socials">
    <li class="socials-item" aria-label="Facebook">
      <a href="/" class="socials-facebook">
        <svg class="socials-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item" aria-label="Instagram">
      <a href="/" class="socials-instagram">
        <svg class="socials-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="socials-item" aria-label="Youtube">
      <a href="/" class="socials-youtube">
        <svg class="socials-icon" width="20" height="20">
          <use href="./images/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<div class="header__main">
  <a class="logo" href="./index.html">
    <svg class="logo-icon">
      <use href="./images/icons.svg#icon-logo"></use>
    </svg>
  </a>
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item" id="about-us">About us</li>
      <li class="header__nav-item" id="tours">Tours</li>
      <li class="header__nav-item" id="testimonials">Testimonials</li>
      <li class="header__nav-item" id="contacts">Contacts</li>
    </ul>
  </nav>
</div>
