<section class="photographers section">
  <div class="container">
    <div class="photographers__gallery swiper">
      <ul class="photographers__list swiper-wrapper">
        <li class="photographers__item swiper-slide">
          <div class="photographers__img-container">
            <img
              src="./images/man-with-camera.jpg"
              alt="Alexandro Rossa"
              width="560"
              height="541"
              class="photographers__img"
            />
          </div>
          <div class="photographers__description">
            <p class="pretitle">Alexandro Rossa</p>
            <h2 class="title">- our awesome photographers</h2>
            <p class="photographers__text">
              Alexandro is a true fan of his craft. He is a photographer with
              extensive experience in travel photography and a great guide. Even
              professional geographers can envy his knowledge of world landmarks
              and the best bars in every city.
            </p>
            <p class="photographers__text">
              His favorite countries are Italy and Greece. Alexandro loves
              historical sites and is fond of ancient history.
            </p>
            <p class="photographers__follow">Follow Alexandro:</p>
            <ul class="socials">
              <li class="socials-item">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg class="socials-icon facebook" width="7.8" height="15.6">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg
                    class="socials-icon instagram"
                    width="15.6"
                    height="15.6"
                  >
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  href="https://www.youtube.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg class="socials-icon youtube" width="15.6" height="11">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="photographers__item swiper-slide">
          <div class="photographers__img-container">
            <img
              src="./images/woman-with-camera.jpg"
              alt="Melissa Sol"
              width="560"
              height="541"
              class="photographers__img"
            />
          </div>
          <div class="photographers__description">
            <p class="pretitle">Melissa Sol</p>
            <h2 class="title">- our awesome photographers</h2>
            <p class="photographers__text">
              Melissa just loves to travel to different countries! Since
              childhood, she dreamed of seeing all the most interesting corners
              of our planet. Her dream has come true, and now she gives joy to
              everyone and captures the most beautiful moments.
            </p>
            <p class="photographers__text">
              Melissa loves Latin America. Jungle and mountains are the main
              passion of this photographer.
            </p>
            <p class="photographers__follow">Follow Melissa:</p>
            <ul class="socials">
              <li class="socials-item">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg class="socials-icon facebook" width="7.8" height="15.6">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg
                    class="socials-icon instagram"
                    width="15.6"
                    height="15.6"
                  >
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  href="https://www.youtube.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg class="socials-icon youtube" width="15.6" height="11">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="photographers__item swiper-slide">
          <div class="photographers__img-container">
            <img
              src="./images/woman-with-camera-2.jpg"
              alt="Alicia Keish"
              width="560"
              height="541"
              class="photographers__img"
            />
          </div>
          <div class="photographers__description">
            <p class="pretitle">Alicia Keish</p>
            <h2 class="title">- our awesome photographers</h2>
            <p class="photographers__text">
              Alicia started her career as an ordinary photographer but decided
              to combine her work with a hobby, and now she accompanies
              tourists, showing the best instagrammable places. She knows how to
              make a stunning shot even where it is impossible!
            </p>
            <p class="photographers__text">
              Her favorite city is Venice. Gondolas, cute Italian restaurants,
              and stunning sunsets - Alicia won't miss all this!
            </p>
            <p class="photographers__follow">Follow Alicia:</p>
            <ul class="socials">
              <li class="socials-item">
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg class="socials-icon facebook" width="7.8" height="15.6">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg
                    class="socials-icon instagram"
                    width="15.6"
                    height="15.6"
                  >
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="socials-item">
                <a
                  href="https://www.youtube.com/"
                  target="_blank"
                  class="socials-link"
                >
                  <svg class="socials-icon youtube" width="15.6" height="11">
                    <use href="./images/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
