<section class="popular section">
  <div class="container">
    <div class="popular__header">
      <div class="popular__title-wrap">
        <p class="pretitle">Only the Most Beautiful Places</p>
        <h2 class="title">- popular trips</h2>
      </div>
      <p class="popular__description">
        The world is so big and is waiting for you to see it! During our tours,
        you will visit the most beautiful places and will be able to take photos
        and videos that will blow your Instagram! Each of our tours is carefully
        designed. In addition, a professional photographer travels with each
        group.
      </p>
    </div>
  <div class="popular__gallery">
    <ul class="popular__list">
      <li class="popular__item">
        <img class="popular__img" src="./images/europe-desk.jpg" alt="Europe" width="250px" height="290px">
        <p>Freedom-loving Europe</p>
        <p>from <span>$350</span></p>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="./images/venice-desk.jpg" alt="Venice" width="250px" height="290px">
        <p>Fabulous Venice</p>
        <p>from <span>$220</span></p>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="./images/australian-desk.jpg" alt="Australian" width="250px" height="290px">
        <p>Australian Week</p>
        <p>from <span>$850</span></p>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="./images/japanese-desk.jpg" alt="Japanese" width="250px" height="290px">
        <p>Japanese Secrets</p>
        <p>from <span>$780</span></p>
      </li>
      <li class="popular__item">
        <img class="popular__img" src="./images/disnayland-desk.jpg" alt="Disnayland" width="250px" height="290px">
        <p>Fairytaile in Disnayland</p>
        <p>from <span>$780</span></p>
      </li>
    </ul>
    <button type="button">Previous</button>
    <button type="button">Next</button>
  </div>
</section>