<section class="popular section">
  <div class="container">
    <div class="popular__header">
      <div class="popular__title-wrap">
        <p class="pretitle">Only the Most Beautiful Places</p>
        <h2 class="title">- popular trips</h2>
      </div>
      <p class="popular__description">
        The world is so big and is waiting for you to see it! During our tours,
        you will visit the most beautiful places and will be able to take photos
        and videos that will blow your Instagram! Each of our tours is carefully
        designed. In addition, a professional photographer travels with each
        group.
      </p>
    </div>
    <div class="popular__gallery"></div>
  </div>
</section>

<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
