<section class="popular section">
  <div class="container">
    <div class="popular__header">
      <div class="popular__title-wrap">
        <p class="pretitle">Adventures You'll Definitely Love</p>
        <h2 class="title">- why we are so popular</h2>
      </div>
      <p class="popular__description">
        Travel is our life and our passion. We do what we love - we give
        pleasant emotions to our clients. Our experts know exactly how to
        organize a trip so that it will bring maximum pleasure. Want to see
        those places you've seen on Instagram with your own eyes and get more
        followers? Travel with us! We promise you won't be disappointed.
      </p>
    </div>
    <ul class="popular__list">
      <li class="popular__item">
        <div class="popular__icon-container">
          <svg class="popular__icon" width="60" height="60">
            <use href="./images/icons.svg#icon-world"></use>
          </svg>
        </div>
        <div class="popular__item-description">
          <p class="popular__item-title">The most beautiful places</p>
          <p class="popular__item-text">
            You will visit the most popular places on our planet. Enjoy stunning
            landscapes, touch the history and make brilliant photos!
          </p>
        </div>
      </li>
      <li class="popular__item">
        <div class="popular__icon-container">
          <svg class="popular__icon" width="60" height="60">
            <use href="./images/icons.svg#icon-woman"></use>
          </svg>
        </div>
        <div class="popular__item-description">
          <p class="popular__item-title">Professional photographers</p>
          <p class="popular__item-text">
            During the trip, you will be accompanied by our professional
            photographers who will take the best photos of you.
          </p>
        </div>
      </li>
      <li class="popular__item">
        <div class="popular__icon-container">
          <svg class="popular__icon" width="60" height="60">
            <use href="./images/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div class="popular__item-description">
          <p class="popular__item-title">Full support</p>
          <p class="popular__item-text">
            By ordering a tour in our company, you can choose the best outfits
            for photos because nothing else is required from you! We will fully
            organize your trip.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
