<section class="steps section">
  <div class="container">
    <div class="steps__info">
      <p class="pretitle">We Will Organize Your Best Travel, Trust Us.</p>
      <h2 class="title">- steps to book</h2>
      <p class="steps__services-description">
        By contacting our company, you will get the most out of your trip. Our
        company has vast experience in organizing group trips. We provide a full
        package of services for tourists, the list includes:
      </p>
      <ul class="steps__services-list">
        <li class="steps__services-item">
          <svg width="18" height="18" class="steps__services-icon">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          <p>Professional photographers;</p>
        </li>
        <li class="steps__services-item">
          <svg width="18" height="18" class="steps__services-icon">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          <p>Transfers;</p>
        </li>
        <li class="steps__services-item">
          <svg width="18" height="18" class="steps__services-icon">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          <p>Staying in beautiful 4* hotels.</p>
        </li>
        <li class="steps__services-item">
          <svg width="18" height="18" class="steps__services-icon">
            <use href="./images/icons.svg#icon-check-mark"></use>
          </svg>
          <p>Intersting excursions.</p>
        </li>
      </ul>
      <p>
        You can familiarize yourself with the detailed program of each tour by
        contacting us. We will send you all the details.
      </p>
    </div>
    <ol class="steps__actions-list">
      <li class="steps__actions-item">
        Contact us
        <p class="steps__action-explanation">
          To do this, you can fill out a form on our website or contact us
          directly by e-mail or phone.
        </p>
      </li>
      <li class="steps__actions-item">
        Select a tour
        <p class="steps__action-explanation">
          Yes, we know, the selection of our instagrammable tours make you
          dizzy. Our managers will be happy to assist you in your decision. Just
          tell them what you expect from the tour!
        </p>
      </li>
      <li class="steps__actions-item">
        Enjoy your journey
        <p class="steps__action-explanation">
          We will do our best to make your tour as interesting, bright and
          eventful as possible! We will show you the most beautiful places, you
          will meet nice people and boost your Instagram, of course!
        </p>
        <p class="steps__action-explanation adding">
          Remember that each tour is accompanied by professional photographers,
          so you don't need to worry about the content!
        </p>
      </li>
    </ol>
  </div>
</section>
