<section class="testimonials section" id="testimonials">
  <div class="container">
    <div class="testimonials__header">
      <div class="testimonials__title-wrap">
        <p class="pretitle">Impressions About Our Trips</p>
        <h2 class="title">- what clients say</h2>
      </div>
      <p class="testimonials__description">
        We do our best to provide you with maximum comfort. Each client is dear
        to us, and we try to organize each trip so that it is as interesting,
        bright, and rich as possible. We give the possibility to see the wonders
        of the Earth just the way you've seen them on Instagram. Check out our
        reviews! People who have already traveled with us will tell about us!
      </p>
    </div>
    <ul class="testimonials__list">
      <li class="testimonials__item">
        <div class="testimonials-img-container">
          <img
            src="./images/review-photo-dave-peterson.jpg"
            alt=""
            class="testimonials__img"
          />
        </div>
        <h3 class="testimonials__name">Dave Peterson</h3>
        <p class="testimonials__date">October 28, 2021</p>
        <q class="testimonials__quotation"
          >I love to travel to beautiful places around the world. I've gone on
          tours with this company three times already! Everything was amazing!
          During the entire trip, I have never had any problems, and their
          photographers are really professionals.</q
        >
        <ul class="socials">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon facebook" width="7.8" height="15.6">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon instagram" width="15.6" height="15.6">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon youtube" width="15.6" height="11">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="testimonials__item">
        <div class="testimonials-img-container">
          <img
            src="./images/review-photo-amanda-olson.jpg"
            alt="Amanda Olson"
            class="testimonials__img"
          />
        </div>
        <h3 class="testimonials__name">Amanda Olson</h3>
        <p class="testimonials__date">December 12, 2021</p>
        <q class="testimonials__quotation"
          >Let's be honest. When traveling, we always try to take beautiful
          photos for our Instagram and it doesn't always work out well. But with
          this agency, you don't have to think about it! You just enjoy the trip
          and pose, and then get your stunning photos!</q
        >
        <ul class="socials">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon facebook" width="7.8" height="15.6">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon instagram" width="15.6" height="15.6">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon youtube" width="15.6" height="11">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="testimonials__item">
        <div class="testimonials-img-container">
          <img
            src="./images/review-photo-erica-jameson.jpg"
            alt="Erica Jameson"
            class="testimonials__img"
          />
        </div>
        <h3 class="testimonials__name">Erica Jameson</h3>
        <p class="testimonials__date">May 08, 2022</p>
        <q class="testimonials__quotation"
          >My Instagram is everything for me! I love to post vivid photos and
          delight my followers! With this company, it has become much easier.
          These guys organize great tours to really cool places that look
          stunning in real life, too, not just on Instagram.</q
        >
        <ul class="socials">
          <li class="socials-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon facebook" width="7.8" height="15.6">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon instagram" width="15.6" height="15.6">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="socials-link"
            >
              <svg class="socials-icon youtube" width="15.6" height="11">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
