.faq {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
}

.faq__text {
  margin-top: 25px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.faq__accordion {
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 30px;
  }
}

.faq__accordion-item {
  border-bottom: 1px solid $line;
}

.faq__accordion-question-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq__accordion-question {
  max-width: calc(100% - 35px);
  font-size: 18px;
  font-weight: 700;
  color: $title-color;

  @media (min-width: 768px) {
    font-size: 19px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.faq__accordion-icon {
  flex-shrink: 0;
  fill: $primary-text-color;
}

.faq__accordeon-answer {
  margin-bottom: 20px;
}

.faq__img-container {
}

.faq__img {
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;

  @media (min-width: 768px) {
    height: auto;
  }
}
