.feedback {
  background-color: $background-accent;
  background-image: url('../images/bg-accent.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $secondary-text-color;
}

.feedback__title {
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
}

.feedback__text {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
}
