.hero {
  margin: auto;
  background-color: $background-secondary;
  background-image: url(../images/hero-bg-desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &.section {
    padding-top: 210px;
    padding-bottom: 280px;
  }
}

.hero__main {
  margin-left: auto;
  padding: 50px;
  max-width: 545px;
  color: $secondary-text-color;
  background: rgba(63, 54, 49, 0.75);
  border-radius: 7px;
}

.hero__title {
  font-size: 70px;
  font-weight: 900;
  line-height: 1.1;
  &::after {
    content: '.';
    color: $accent-color;
  }
}

.hero__link-wrap {
  display: inline-block;
  margin-top: 30px;
}

.hero__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__link-text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  &:hover {
    text-decoration: underline;
  }
}

.hero__arrow-icon {
  fill: $secondary-text-color;
}
