.photographers {
  &.section {
    padding-top: 0;
  }

  .container {
    padding-left: 10;
    padding-right: 10;
  }

  .socials {
    margin-top: 10px;
  }

  .socials-item {
    width: 30px;
    height: 30px;
    background-color: $socials-bg-primary;

    &:hover {
      background-color: $socials-bg-accent;
    }
  }
}

.photographers__item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-left: 50px;
  padding-right: 50px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 46px;
  }

  @media (min-width: 768px) {
    gap: 60px;
  }
}

.photographers__img-container {
  background-color: $background-secondary;

  @media (min-width: 768px) {
    height: 551px;
  }

  @media (min-width: 1200px) {
    height: 541px;
  }
}

.photographers__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photographers__text {
  margin-top: 20px;

  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}

.photographers__follow {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  color: $title-color;

  @media (min-width: 1200px) {
    margin-top: 30px;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: $accent-color;
}
