.popular__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.popular__title-wrap {
  @media (min-width: 768px) {
    max-width: 215px;
  }
  @media (min-width: 1200px) {
    max-width: 353px;
  }
}

.popular__description {
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 0;
    max-width: 337px;
  }
  @media (min-width: 1200px) {
    max-width: 545px;
  }
}

.popular__list {
  display: grid;
  row-gap: 60px;
  column-gap: 30px;
  margin-top: 60px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.popular__item {
  display: flex;
  flex-direction: row;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.popular__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $advantages-bg;

  @media (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.popular__icon {
  width: 26px;
  height: 26px;
  fill: $advantages-icon-fill;

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.popular__item-description {
  margin-left: 15px;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.popular__item-title {
  font-size: 22px;
  font-weight: 700;
  color: $accent-color;

  @media (min-width: 768px) {
    font-size: 23px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}
