.popular__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  & .pretitle {
    max-width: 323px;
  }
}

.popular__description {
  margin-top: 40px;

  @media (min-width: 768px) {
    max-width: 336px;
    margin-top: 0;
    margin-left: auto;
  }

  @media (min-width: 1200px) {
    max-width: 532px;
  }
}

.popular__gallery {
  margin-top: 50px;
}

.popular__item {
  width: 280px;
  padding-bottom: 45px;
}

.popular__img {
  border-radius: 6px;
  object-fit: cover;
}

.gallery__title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.67;
  color: $title-color;
}

.gallery__price {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.gallery__amount {
  font-size: 20px;
  color: $accent-color;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  color: $accent-color;
}

.swiper-pagination-bullet {
  background-color: #989898;
  color: #989898;
}

.swiper-pagination-bullet-active {
  background-color: $accent-color;
}
