.steps {
  background-color: $background-accent;
  background-image: url('../images/bg-accent.jpg');
  background-size: cover;
  background-position: center;
  color: $secondary-text-color;

  .container {
    display: flex;
    flex-direction: column;
    gap: 65px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 170px;
    }
  }

  .pretitle {
    color: $secondary-text-color;
    &::after {
      content: '';
    }
  }
}

.steps__services-description {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.steps__services-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.steps__services-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;

  p {
    margin-left: 10px;
  }
}

.steps__services-icon {
  fill: $secondary-text-color;
}

.steps__actions-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: decimal;
  list-style-position: inside;

  @media (min-width: 768px) {
    gap: 50px;
  }
}

.steps__actions-item {
  font-size: 30px;
  font-weight: 900;

  @media (min-width: 768px) {
    font-size: 33px;
  }
}

.steps__action-explanation {
  font-size: 16px;
  font-weight: 400;
}

.adding {
  margin-top: 15px;
}
