.tours__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.tours__title-wrap {
  @media (min-width: 768px) {
    max-width: 215px;
  }
  @media (min-width: 1200px) {
    max-width: 353px;
  }
}

.tours__description {
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 0;
    max-width: 337px;
  }
  @media (min-width: 1200px) {
    max-width: 545px;
  }
}

.tours__buttons-list {
  display: flex;
  margin-top: 40px;
  width: 100%;
  overflow-x: auto;
  border-bottom: 1px solid $line;
}

.tours__button {
  padding: 15px 20px;
  background-color: transparent;
  border: 3px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $primary-text-color;

  &:hover {
    color: $title-color;
  }
}

.active {
  border-bottom: 3px solid $accent-color;
}

.tours__gallery {
}

.tours__gallery-img-container {
  width: 272px;
  height: 310px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 337px;
    height: 384px;
  }
  @media (min-width: 1200px) {
    width: 353px;
    height: 403px;
  }
}

.tours__gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.tours__gallery-info-item {
  display: flex;
}
