.tours__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.tours__title-wrap {
  @media (min-width: 768px) {
    max-width: 215px;
  }
  @media (min-width: 1200px) {
    max-width: 353px;
  }
}

.tours__description {
  margin-top: 40px;

  @media (min-width: 768px) {
    margin-top: 0;
    max-width: 337px;
  }
  @media (min-width: 1200px) {
    max-width: 545px;
  }
}

.tours__buttons-list {
  display: flex;
  margin-top: 40px;
  width: 100%;
  overflow-x: auto;
  border-bottom: 1px solid $line;
}

.tours__button {
  padding: 15px 20px;
  background-color: transparent;
  border: 3px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $primary-text-color;

  &:hover {
    color: $title-color;
  }
}

.active {
  border-bottom: 3px solid $accent-color;
}

.tours__gallery {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  gap: 50px;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tours__gallery-img-container {
  width: 100%;
  height: 310px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    height: 384px;
  }
  @media (min-width: 1200px) {
    height: 403px;
  }
}

.tours__gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.tours__gallery-title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.7;
  color: $title-color;
}

.tours__gallery-price {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}

.tours__gallery-amount {
  font-size: 24px;
  color: $accent-color;
}

.tours__gallery-description {
  margin-top: 20px;
  font-size: 16px;
}

.tours__gallery-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: $thirdly-text-color;
}

.tours__gallery-info-item {
  display: flex;
  align-items: center;
}

.tours__gallery-info-icon {
  fill: $thirdly-text-color;
}

.tours__gallery-info-text {
  margin-left: 10px;
}

.tours__gallery-info-accent {
  font-weight: 700;
}

.tours__gallery-date {
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
}

.tours__gallery-date-accent {
  color: $title-color;
}
